<html>
   <body>      
      <form action = "/login" method = "post">
           
<p>Enter Name:</p>
  
           
<p><input type = "text" name = "name" /></p>
<p><input type = "password" name = "password" /></p>
  
           
<p><input type = "submit" value = "submit" /></p>
  
      </form>
   powered by:<br>
   <img id="logo_image" hidden>
   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="static/js/index.js"></script>
   <script src="static/js/index3.1.js"></script>
</html>
